{% load i18n %}
<option disabled selected>Select a group</option>
{% for i in proxy %}
<form class="proxy-item item">
    <div class="field">
        <input type="text" placeholder="Format: protocol://login:pass@ip:port" name="proxy" value="{{i.protocol}}://{{i.username}}:{{i.password}}@{{i.ip_address}}:{{i.port}}">
    </div>
    <div class="btn-block">
        <div class="btn update-proxy" data-request="update_proxy" data-id="{{ i.id }}">Update</div>
        <div class="btn delete-proxy red-main" data-request="delete_proxy" data-id="{{ i.id }}">Delete</div>
    </div>
</form>
{% endfor %}