{% for key, value in nested_urls.items %}
    {% if key != 'id' and key != 'count' and key != '' and key != 'last' %}
        {% if value.link and value.link|slice:"-1" == "/" %}
            <li><a href="{% url 'core:url_item' value.id %}">{{ value.link }}</a></li>
        {% else %}
            <li class="folder open {% if value.last and value.count == 1 %}not-nested{% endif %}">
                {% if not value.last %}
                    <div class="down"><i class="fa-solid fa-chevron-right"></i></div><span>{{ value.link|default:key }}</span>
                {% else %}
                    {% if value.count == 1 %}
                        {% for key, value in value.items %}
                            {% if value.id %}
                            <a href="{% url 'core:url_item' value.id %}">{{ value.link }}</a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="down"><i class="fa-solid fa-chevron-right"></i></div><span>{{ value.link|default:key }}</span>
                    {% endif %}
                {% endif %}
            </li>
        {% endif %}
    {% endif %}
    {% if value.count %}
        <li class="{% if key %}li_1 {% endif %}{% if value.last %}li_2 {% endif %}{% if not key %}main-title {% endif %}{% if value.count > 1 %}subMenu{% endif %}">
            {% if value.link %}
                <a href="{% url 'core:url_item' value.id %}">{{ value.link }}</a>
            {% else %}
                <ul {% if value.count > 1 %}class="sub-ul-menu"{% endif %}>
                    {% include "include/nested_urls.html" with nested_urls=value %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}