{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div class="domainsSection">
        <div class="info-block-main">
            <div class="functions">
                <div class="item status-all-search-block">
                    <label class="select">
                        <select class="status-all-search" name="status">
                            <option selected disabled>Search by status</option>
                            {% for kst, st in statuses.items %}
                                <option value="{{ kst }}" {% if request.GET.status == kst|stringformat:"i" %}selected{% endif %}>{{ st.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <div class="btn-block">
                        <div class="btn f-status">Search</div>
                        <div class="btn red-main reset-status {% if request.GET.status %}active{% endif %}">Reset status</div>
                    </div>
                </div>
                <div class="item change">
                    <label class="select">
                        <select class="status-all-change" name="status">
                            <option selected disabled>Change Status</option>
                            {% for kst, st in statuses.items %}
                                <option value="{{ kst }}">{{ st.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <div class="btn-block">
                        <div class="btn change-selected" data-request="change_selected_domains">Change</div>
                    </div>
                </div>
            </div>
            <div class="_titleBlock">
                <span class="name">{{ domains_count }} result{{ domains_count|pluralize }} found</span>
            </div>
            <div class="table-block">
                <table class="table">
                    <thead>
                    <tr>
                        <th><input type="checkbox" class="checks_all" data-id="{{ g.id }}"></th>
                        <th></th>
                        <th>DN</th>
                        <th>Status</th>
                        <th>C</th>
                        <th>W</th>
                        <th>Pages</th>
                        <th>Img</th>
                        <th>FC-LC</th>
                        <th>Sn</th>
                        <th>T</th>
                        <th>V</th>
                        <th>A</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in domains %}
                        <tr {% if i.images_domain.all or i.files_count != 0 %}class="more_urls"{% endif %} data-id="{{ i.id }}">
                            <td style="width: 22px"><input type="checkbox" value="{{ i.id }}"
                                       class="checks group-{{ g.id }}"></td>
                            <td style="width: 25px">{% if i.images_domain.all or i.files_count != 0 %}<i class="fa-solid fa-angles-down"></i>{% endif %}</td>
                            <td>{% if i.display_name %}<a href="{% url 'core:domain_item' i.id %}">{{ i.display_name }}</a>{% else %}-{% endif %}</td>
                            <td class="status-td">{{ i.get_status_display }}</td>
                            <td>{% if i.capture %}{{ i.capture }}{% else %}-{% endif %}</td>
                            <td>{% if i.webpage %}{{ i.webpage }}{% else %}-{% endif %}</td>
                            <td>{{ i.pages }}</td>
                            <td>{% if i.image %}{{ i.image }}{% else %}-{% endif %}</td>
                            <td>{% if i.first_captured %}{{ i.first_captured }}{% else %}-{% endif %}-{% if i.last_captured %}{{ i.last_captured }}{% else %}-{% endif %}</td>
                            <td>{% if i.snippet %}{{ i.snippet }}{% else %}-{% endif %}</td>
                            <td>{% if i.thumb %}{{ i.thumb }}{% else %}-{% endif %}</td>
                            <td>{% if i.video %}{{ i.video }}{% else %}-{% endif %}</td>
                            <td>{% if i.audio %}{{ i.audio }}{% else %}-{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <nav>
                <ul class="pagination">
                    {% if domains.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ domains.previous_page_number }}{{ dop_url }}">Prev</a></li>
                    {% endif %}
                    {% if domains.paginator %}
                        {% for i in domains.paginator.page_range %}
                            {% if domains.number == 1 and i <= 5 %}
                                {% if i == domains.number %}
                                    <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% endif %}
                            {% elif domains.number == 2 and i <= 5 %}
                                {% if i == 1 %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% elif i == domains.number %}
                                    <li class="page-item active"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% endif %}
                            {% elif i >= domains.number|add:'-2' and i <= domains.number|add:'2' %}
                                {% if i == domains.number %}
                                    <li class="page-item active"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% endif %}
                            {% elif i == domains.paginator.num_pages %}
                                <li class="page-item more"><span class="page-link">...</span></li>
                                <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if domains.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ domains.next_page_number }}{{ dop_url }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
