{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div class="domainsSection">
        <div class="info-block-main">
            <div class="functions">
                <div class="item status-all-search-block">
                    <label class="select">
                        <select class="status-all-search" name="status">
                            <option selected disabled>Search by status</option>
                            {% for kst, st in statuses.items %}
                                <option value="{{ kst }}"
                                        {% if request.GET.status == kst|stringformat:"i" %}selected{% endif %}>{{ st.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <div class="btn-block">
                        <div class="btn f-status">Search</div>
                        <div class="btn red-main reset-status {% if request.GET.status %}active{% endif %}">Reset status
                        </div>
                    </div>
                </div>
                <div class="item change">
                    <label class="select">
                        <select class="status-all-change" name="status">
                            <option selected disabled>Change Status</option>
                            {% for kst, st in statuses.items %}
                                <option value="{{ kst }}">{{ st.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <div class="btn-block">
                        <div class="btn change-selected" data-request="change_selected_urls">Change</div>
                    </div>
                </div>
            </div>
            <div class="_titleBlock">
                <span class="name">{{ urls_count }} result{{ urls_count|pluralize }} found</span>
            </div>
            <table class="table tree-count-results">
                <thead>
                <tr>
                    <th>URL</th>
                    <th class="count-th">COUNT <span>(0)</span></th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in nested_urls.items %}
                    <tr>
                        <td>
                            {% if value.link %}
                                {% with value.link as url_without_protocol %}
                                    <li class="1"><a href="{{ value.link }}">{{ url_without_protocol }}</a></li>
                                {% endwith %}
                            {% else %}
                                <ul class="first-list">
                                    {% include "include/nested_urls.html" with nested_urls=value %}
                                </ul>
                            {% endif %}
                        </td>
                        <td class="count-td">
                            {% for key, v in value.items %}
                                <span class="d-none">{{ v.count }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table">
                <thead>
                <tr>
                    <th><input type="checkbox" class="checks_all" data-id="{{ g.id }}"></th>
                    <th>Urls</th>
                    <th>Mimetype</th>
                    <th>Timestamp</th>
                    <th>Endtimestamp</th>
                    <th>Shots</th>
                    <th>GC</th>
                    <th>UC</th>
                    <th>Domain</th>
                    <th>Status</th>
                    <th>Content</th>
                </tr>
                </thead>
                <tbody>
                {% for i in urls %}
                    <tr>
                        <td><input type="checkbox" value="{{ i.id }}"
                                   class="checks group-{{ g.id }}"></td>
                        <td><a href="{% url 'core:url_item' i.id %}">{{ i.url }}</a></td>
                        <td>{% if i.mimetype %}{{ i.mimetype }}{% else %}-{% endif %}</td>
                        <td>{% if i.timestamp %}{{ i.timestamp }}{% else %}-{% endif %}</td>
                        <td>{% if i.endtimestamp %}{{ i.endtimestamp }}{% else %}-{% endif %}</td>
                        <td>{% if i.shots %}{{ i.shots }}{% else %}-{% endif %}</td>
                        <td>{% if i.groupcount %}{{ i.groupcount }}{% else %}-{% endif %}</td>
                        <td>{% if i.uniqcount %}{{ i.uniqcount }}{% else %}-{% endif %}</td>
                        <td>{% if i.domain %}{{ i.domain.name }}{% else %}-{% endif %}</td>
                        <td class="status-td">{{ i.get_status_display }}</td>
                        <td>{% if i.content %}{{ i.content }}{% else %}-{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    {% if urls.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ urls.previous_page_number }}{{ dop_url }}">Prev</a></li>
                    {% endif %}
                    {% if urls.paginator %}
                        {% for i in urls.paginator.page_range %}
                            {% if urls.number == 1 and i <= 5 %}
                                {% if i == urls.number %}
                                    <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% endif %}
                            {% elif urls.number == 2 and i <= 5 %}
                                {% if i == 1 %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% elif i == urls.number %}
                                    <li class="page-item active"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% endif %}
                            {% elif i >= urls.number|add:'-2' and i <= urls.number|add:'2' %}
                                {% if i == urls.number %}
                                    <li class="page-item active"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% endif %}
                            {% elif i == urls.paginator.num_pages %}
                                <li class="page-item more"><span>...</span></li>
                                <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if urls.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ urls.next_page_number }}{{ dop_url }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
