{% extends '_base.html' %}
{% load static %}
{% block content %}
    <section class="indexSection">
        <div class="info-block-main">
            {% if textp.seo_h1 %}
            <div class="item">
                <h1> {{textp.seo_h1}}</h1>
            </div>
            {% endif %}
            <form>
                <div class="item group">
                    <label class="select">
                        <select  class="group_select" name="project">
                            <option disabled selected>Select a project</option>
                            {% for i in projects %}
                                <option value="{{i.id}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <div class="add-group">
                        <span class="open-modal" data-type-modal="add-group"><i class="fa-solid fa-plus open-modal" data-type-modal="add-group"></i></span>
                    </div>
                </div>
                <div class="item phrase d-none">
                    <div class="field">
                        <textarea rows="8" placeholder="Search phrases" class="phrase_text" name="phrases"></textarea>
                        <div class="info-btn">
                            <btn class="btn checkField" data-request="save_phrase">Save Phrases</btn>
                            <span class="podsk">All phrases are entered from a new line</span>
                        </div>
                        <div class="message_phrase"></div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="phrasesSection">
        <div class="info-block-main">
            <div class="functions">
                <div class="item search-name">
                    <input type="text" placeholder="Search by name">
                </div>
            </div>
            <div class="list">
                {% for project in projects %}
                    <a href="{% url 'core:project_item' project.id %}">{{ project.name }}</a>
                {% endfor %}
            </div>
            <nav>
                <ul class="pagination">
                    {% if projects.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ projects.previous_page_number }}{{ dop_url }}">Prev</a></li>
                    {% endif %}
                    {% if projects.paginator %}
                        {% for i in projects.paginator.page_range %}
                            {% if projects.number == 1 and i <= 5 %}
                                {% if i == projects.number %}
                                    <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% endif %}
                            {% elif projects.number == 2 and i <= 5 %}
                                {% if i == 1 %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% elif i == projects.number %}
                                    <li class="page-item active"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% endif %}
                            {% elif i >= projects.number|add:'-2' and i <= projects.number|add:'2' %}
                                {% if i == projects.number %}
                                    <li class="page-item active"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% endif %}
                            {% elif i == projects.paginator.num_pages %}
                                <li class="page-item more"><span class="page-link">...</span></li>
                                <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if projects.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ projects.next_page_number }}{{ dop_url }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}
