{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div class="indexSection">
        <div class="info-block-main">
            {% if textp.seo_h1 %}
            <div class="item">
                <h1> {{textp.seo_h1}}</h1>
            </div>
            {% endif %}
            <form>
                <div class="item group">
                    <label class="select">
                        <select  class="group_select" name="project">
                            <option disabled selected>Select a project</option>
                            {% for i in projects %}
                                <option value="{{i.id}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <div class="add-group">
                        <span class="open-modal" data-type-modal="add-group"><i class="fa-solid fa-plus open-modal" data-type-modal="add-group"></i></span>
                    </div>
                </div>
                <div class="item phrase d-none">
                    <div class="field">
                        <textarea rows="8" placeholder="Search phrases" class="phrase_text" name="phrases"></textarea>
                        <div class="info-btn">
                            <btn class="btn checkField" data-request="save_phrase">Save Phrases</btn>
                            <span class="podsk">All phrases are entered from a new line</span>
                        </div>
                        <div class="message_phrase"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
