{% url 'core:index' as index_url %}
{% url 'core:phrases' as phrases_url %}
{% url 'core:projects' as projects_url %}
{% url 'core:domains' as domains_url %}
{% url 'core:urls' as urls_url %}
{% url 'core:shots' as shots_url %}
<div class="item-col left-column">
    {% if link %}
        <div class="filter">
            <div class="filter-b">
                <i class="fa-solid fa-bars"></i> <span>Menu</span>
            </div>
        </div>
        <div class="links_g">
            <div class="filter-b{% if request.path == index_url %} active{% endif %}">
                <a href="{{ index_url }}"><i class="fa-solid fa-angles-right"></i> <span>Home</span></a>
            </div>
            <div class="filter-b{% if request.path == phrases_url %} active{% endif %}">
                <a href="{{ phrases_url }}"><i class="fa-solid fa-angles-right"></i> <span>Phrases</span></a>
            </div>
            <div class="filter-b{% if request.path == projects_url %} active{% endif %}">
                <a href="{{ projects_url }}"><i class="fa-solid fa-angles-right"></i> <span>Projects</span></a>
            </div>
            <div class="filter-b{% if request.path == domains_url %} active{% endif %}">
                <a href="{{ domains_url }}"><i class="fa-solid fa-angles-right"></i> <span>All domains</span></a>
            </div>
            <div class="filter-b{% if request.path == urls_url %} active{% endif %}">
                <a href="{{ urls_url }}"><i class="fa-solid fa-angles-right"></i> <span>All urls</span></a>
            </div>
            <div class="filter-b{% if request.path == shots_url %} active{% endif %}">
                <a href="{{ shots_url }}"><i class="fa-solid fa-angles-right"></i> <span>All snapshot's</span></a>
            </div>
        </div>
    {% endif %}
    {% if filter %}
        <div class="filter">
            <div class="filter-b">
                <i class="fa fa-sliders-h" aria-hidden="true"></i> <span>Filters</span>
            </div>
        </div>
        <div class="rows_filter">
            {% include "include/search_phrase.html" %}
            <form class="nameFilter-block">
                <div id="accordion-filters" class="accordion accordion-filters">
                {% if ahrefs_rank %}
                    {% include "include/ahrefs_rank.html" %}
                {% endif %}
                {% if projects %}
                    {% include "include/categories.html" %}
                {% endif %}
                {% if domains and not domains_filter %}
                    {% include "include/domains.html" %}
                {% endif %}
                {% if urls %}
                    {% include "include/urls.html" %}
                {% endif %}
                </div>
{#                                {% if filter.ahrefs_rank %}#}
{#                                    {% include "ahrefs_rank.html" %}#}
{#                                {% endif %}#}
                {#                {% if filter.symbol %}#}
                {#                    {% include "symbol.html" %}#}
                {#                {% endif %}#}
                {#                {% if filter.all_words %}#}
                {#                    {% include "range_filter.html" %}#}
                {#                {% endif %}#}

                {% if ahrefs_rank or projects or domains or urls %}
                    <button type="button" class="btn search_filter_btn">Apply<i class="fa fa-search" aria-hidden="true"></i></button>
                    <button type="button" class="btn reset">Reset<i class="fa-solid fa-trash-arrow-up"></i></button>
                {% endif %}
            </form>
        </div>
    {% endif %}
</div>