{% url 'core:index' as index_url %}
{% url 'core:domains' as domains_url %}
{% url 'core:check_domains' as check_domains_url %}
{% url 'core:domains_timestamps' as domains_timestamps_url %}
{% url 'core:urls' as urls_url %}
{% url 'core:proxy' as proxy_url %}
<div class="item-col left-column">
    {% if link %}
        <div class="filter">
            <div class="filter-b">
                <i class="fa-solid fa-bars"></i> <span>Menu</span>
            </div>
        </div>
        <div class="links_g">
            <div class="filter-b{% if request.path == index_url %} active{% endif %}">
                <a href="{{ index_url }}"><i class="fa-solid fa-angles-right"></i> <span>Project</span></a>
            </div>
            <div class="filter-b{% if request.path == domains_url %} active{% endif %}">
                <a href="{{ domains_url }}"><i class="fa-solid fa-angles-right"></i> <span>All domains</span></a>
            </div>
            <div class="filter-b{% if request.path == check_domains_url %} active{% endif %}">
                <a href="{{ check_domains_url }}"><i class="fa-solid fa-angles-right"></i> <span>Check Domains</span></a>
            </div>
            <div class="filter-b{% if request.path == domains_timestamps_url %} active{% endif %}">
                <a href="{{ domains_timestamps_url }}"><i class="fa-solid fa-angles-right"></i> <span>Domains Timestamps</span></a>
            </div>
            <div class="filter-b{% if request.path == urls_url %} active{% endif %}">
                <a href="{{ urls_url }}"><i class="fa-solid fa-angles-right"></i> <span>All files</span></a>
            </div>
            <div class="filter-b{% if request.path == proxy_url %} active{% endif %}">
                <a href="{{ proxy_url }}"><i class="fa-solid fa-angles-right"></i> <span>Proxy</span></a>
            </div>
        </div>
    {% endif %}
    {% if filter %}
        <div class="filter">
            <div class="filter-b">
                <i class="fa fa-sliders-h" aria-hidden="true"></i> <span>Filters</span>
            </div>
        </div>
        <div class="rows_filter">
            {% include "include/search_phrase.html" %}
            <form class="nameFilter-block">
                <div id="accordion-filters" class="accordion accordion-filters">
                {% if ahrefs_rank %}
                    {% include "include/ahrefs_rank.html" %}
                {% endif %}
                {% if projects %}
                    {% include "include/categories.html" %}
                {% endif %}
                {% if domains and not domains_filter %}
                    {% include "include/domains.html" %}
                {% endif %}
                {% if urls and not urls_filter %}
                    {% include "include/urls.html" %}
                {% endif %}
                </div>
{#                                {% if filter.ahrefs_rank %}#}
{#                                    {% include "ahrefs_rank.html" %}#}
{#                                {% endif %}#}
                {#                {% if filter.symbol %}#}
                {#                    {% include "symbol.html" %}#}
                {#                {% endif %}#}
                {#                {% if filter.all_words %}#}
                {#                    {% include "range_filter.html" %}#}
                {#                {% endif %}#}

                {% if ahrefs_rank or projects or domains or urls %}
                    {% if not visible_filter or visible_filter == 'visible' %}
                        <button type="button" class="btn search_filter_btn">Apply<i class="fa fa-search" aria-hidden="true"></i></button>
                        <button type="button" class="btn reset">Reset<i class="fa-solid fa-trash-arrow-up"></i></button>
                    {% endif %}
                {% endif %}
            </form>
        </div>
    {% endif %}
</div>