{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div class="projectsSection">
        <div class="info-block-main">
            <div class="btn-block delete-project">
                <div class="btn red-main delete-selected" data-request="delete_selected_projects">Delete selected</div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th><input type="checkbox" class="checks_all" data-id="{{ g.id }}"></th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for i in projects %}
                    <tr>
                        <td><input type="checkbox" value="{{ i.id }}"
                                   class="checks group-{{ g.id }}"></td>
                        <td>
                            {{ i.name }}
                        </td>
                        <td>
                            {% if i.description %}{{ i.description }}{% else %}-{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    {% if projects.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ projects.previous_page_number }}{{ dop_url }}">Prev</a></li>
                    {% endif %}
                    {% if projects.paginator %}
                        {% for i in projects.paginator.page_range %}
                            {% if projects.number == 1 and i <= 5 %}
                                {% if i == projects.number %}
                                    <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% endif %}
                            {% elif projects.number == 2 and i <= 5 %}
                                {% if i == 1 %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% elif i == projects.number %}
                                    <li class="page-item active"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% endif %}
                            {% elif i >= projects.number|add:'-2' and i <= projects.number|add:'2' %}
                                {% if i == projects.number %}
                                    <li class="page-item active"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                                {% endif %}
                            {% elif i == projects.paginator.num_pages %}
                                <li class="page-item more"><span>...</span></li>
                                <li class="page-item"><a class="page-link" href="?page={{ i }}{{ dop_url }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if projects.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ projects.next_page_number }}{{ dop_url }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
