{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div class="domainsSection">
        <div class="info-block-main">
            <div class="status-all-search-block">
                <label class="select">
                    <select class="status-all-search" name="status">
                        <option selected disabled>Search by status</option>
                        {% for kst, st in statuses.items %}
                            <option value="{{ kst }}" {% if request.GET.status == kst|stringformat:"i" %}selected{% endif %}>{{ st.name }}</option>
                        {% endfor %}
                    </select>
                </label>
                <div class="btn-block">
                    <div class="btn f-status">Search</div>
                    <div class="btn red-main reset-status {% if request.GET.status %}active{% endif %}">Reset status</div>
                </div>
            </div>
            <div class="_titleBlock">
                <span class="name">{{ shots.count }} result{{ shots.count|pluralize }} found</span>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th><input type="checkbox" class="checks_all" data-id="{{ g.id }}"></th>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for i in shots %}
                    <tr>
                        <td><input type="checkbox" value="{{ i.id }}"
                                   class="checks group-{{ g.id }}"></td>
                        <td>{{ i.name }}</td>
                        <td>{% if i.date %}{{ i.date }}{% else %}-{% endif %}</td>
                        <td>{{ i.get_status_display }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
